<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ENG.NR2003.NascarSeasonView.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ENG.NR2003.NascarSeasonView.Properties.Settings>
            <setting name="Path_Telemetry" serializeAs="String">
                <value />
            </setting>
            <setting name="Path_Race" serializeAs="String">
                <value />
            </setting>
            <setting name="Path_Season" serializeAs="String">
                <value />
            </setting>
            <setting name="Path_GridRules" serializeAs="String">
                <value />
            </setting>
        </ENG.NR2003.NascarSeasonView.Properties.Settings>
    </userSettings>
</configuration>